[tool.black]
line-length = 80

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 80

[tool.pylint.messages_control]
disable = "C0330, C0326, C0114, E1120, C0116, C0103, E1101, R0914, R0915, R0913"

[tool.pylint.format]
max-line-length = "80"
